@charset "utf-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td , i{
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body {line-height:1.5;}
table {border-collapse: collapse;border-spacing:0;}

.search-box{
	margin-left:7px;
	margin-top:5px;
	margin-bottom:5px;
	width:98%;
}

.search-label{
	color:#165e9e;
	height:15px;
	padding:0 10px;
	background:#e2edf6;
	cursor:pointer;
	font-size:12px;
}

.table-condition{
	border:1px solid #a8cce9;
	font-size:14px;
	width:100%;
	margin-bottom:8px;
	
}

.search-condition th{
	height:16px;
	width:15%;
	font-size:12px;
	border:1px solid #e3eef7;
	background:#FAFAFA;
	text-align:right;
	font-weight:normal;
	color:#000000;
	padding:6px 2px 2px;
	
}

.search-condition td{
	heigth:16px;
	width:35%;
	font-size:12px;
	border:1px solid #e3eef7;
	background:#fff;
	padding:2px 4px;
	
}

.data-box{
	margin-left:7px;
	margin-top:5px;
	width:98%;
}
